<div class='container'>
    <img src="img/menu-game.png" width="100%" alt="Menu game">
</div>

<h3 style="margin-top: 30px;">Motivação</h3>
<div class='container' style="padding-top: 20px;">
    <p>O jogo foi proposto como um trabalho na disciplína Programação Web do curso Ciência da Computação da <a href="https://ufam.edu.br/">UNIVERSIDADE FEDERAL DO AMAZONAS - UFAM </a> pelo professor David Fernandes Oliveira.</p>
    <p>Tema: Foi decidido que o tema seria sobre incêndios florestais por conta das queimadas que ocorreram no Pantanal no inicio em 2020.</p>
    <p>Tempo para o desenvolvimento: 3 semanas</p>
</div>
<h3 style="margin-top: 30px;">Links das reportagens:</h3>
<div class='container' style="padding-top: 20px;">
    <a target="_blank" href="https://cnnbrasil.com.br/nacional/2020/09/24/setembro-de-2020-e-o-mes-com-mais-queimadas-no-pantanal-desde-1998">CNN: Queimadas no Pantanal são as maiores da história <i class="fas fa-external-link-alt"></i></a><br>
    <a target="_blank" href="https://g1.globo.com/natureza/noticia/2020/09/24/pantanal-bioma-mais-preservado-ate-2018-perdeu-ao-menos-10-vezes-mais-area-em-2020-que-em-18-anos.ghtml">G1: Área queimada no Pantanal em 2020 supera em 10 vezes a área de vegetação natural perdida em 18 anos <i class="fas fa-external-link-alt"></i></a><br>
    <a target="_blank" href="https://www.bbc.com/portuguese/internacional-54848995">BBC: Incêndios no Pantanal: por que o fogo ainda ameaça o ecossistema mesmo após a chegada das chuvas <i class="fas fa-external-link-alt"></i></a>
    <p><small>Somente algumas das manchetes sobre o assunto.</small></p>
</div>
<h3 style="margin-top: 30px;">Jogabilidade</h3>
<div class='engloba'style="padding-top: 20px;">
    <div class='fle' style="padding-bottom: 20px;">
        <div class="container">
            <h5>Vidas: </h5>
            <p class="info">Cada árvore represanta 1 vida. O Jogo inicia com 5 vidas.</p>
        </div>
        <div class="container">
            <h5>Score: </h5>
            <p class="info" >Reprensenta sua pontuação atual.</p>
        </div>
    </div>
    <div class="container">
        <img src="img/ex_status.png" width='100%' alt="status-bar">
    </div>
</div>
<div class="row" style="padding: 20px;">
    <div class="enbloba fle">
        <div class="container">
            <h5>Foco de Incêndio</h5>
            <p class="info">Os focos de incêndio podem surgir a qualquer momento e você tem 2 segundos para extingui-los. Caso nao consiga extingui-lo a tempo, perderá 1 vida e a área onde o foco surgiu ficará devastada.</p>
        </div>
        <img src="img/foco.gif" alt="Foco de incêndio">
    </div>
    <div class="enbloba fle">
        <div class="container">
            <h5>Caveira</h5>
            <p class='info'>As caveiras surgem com menos frequência, porem os danos que podem causar são maiores. Caso não seja extinguida, 2 vidas são perdidas e uma área maior é devastada.</p>
        </div>
        <img src="img/caveira.gif" alt="caveira">
    </div>
</div>
<h3 style="margin-top: 30px;">Funcionalidades</h3>
<div class='engloba'style="padding-top: 20px;">
    <div class='fle' style="padding-bottom: 20px;">
        <div class="container">
            <h5>Game over </h5>
            <p class="info">Quando o numero de vidas chega a zero você perde e entao é exibida uma tela de GAME OVER.</p>
        </div>
        <div class="container">
            <h5>Restart</h5>
            <p class="info"> Ao perder o jogo você tem a opção de tentar novamente apertando "S".</p>
        </div>
    </div>
    <div class="container">
        <img src="img/ex_gameover.png" width='100%' alt="gameover">
    </div>
</div>
<h3 style="margin-top: 30px;">Especificação</h3>
<div class="container">
    <a href="img/assets/trab1.pdf" target="_blank" rel="noopener noreferrer"> Trabalho 1 - ProgWeb <i class="fas fa-external-link-alt"></i></a>
</div>

